@model IEnumerable<DocumentSaver.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="AddFile" asp-controller="Home" method="post" type="file" enctype="multipart/form-data">
   
    <input type="file" name="uploadedFile" /><br>
    <input type="submit" value="Загрузить" />
</form>

<h3>Все файлы</h3>
@foreach (var f in Model)
{
    <p><a href="@Url.Content(f.Path)">@Url.Content(f.Path)</a></p>
}